# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# macOS
.DS_Store

# Misc
*.log
*.swp
